<div>
  <div>
    <img
      class="beer-img"
      src="{{image_url}}"
      alt=""
    />
    <div class="">
      <h5 class="">{{name}}</h5>
      <p class="">{{description}}</p>
           <p class="">{{tagline}}</p>
    </div>
  </div>
</div>
